<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'blogs:index' %}" class="nav-link px-2 link-secondary">Blogs</a></li>
                    
                    {% for blog in blogs %}
                        <li><a href="{% url 'blogs:articles' blog.id %}" class="nav-link px-2 link-body-emphasis">{{ blog }}</a></li>
                    {% endfor %}
                    
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                {% if user.is_authenticated %}
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                              </svg>
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="{% url 'blogs:newBlog' %}">Add new Blog</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <form action="{% url 'accounts:logout' %}" method="POST">
                                {% csrf_token %}
                                <button class="btn" type="submit" style="border: 0;">Log out</button>
                                {# <li><a class="dropdown-item" href="#">Sign out</a></li> #}
                            </form>
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-light text-dark me-2" href="{% url 'accounts:login' %}" role="button">Log in</a>
                    <a class="btn btn-primary" href="{% url 'accounts:register' %}" role="button">Register</a>                    
                {% endif %}
            </div>
        </div>
    </header>

</head>

<body>
    <main class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% block pageHeader %}{% endblock pageHeader %}
        </div>    
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>

</html>